// <res.rc> -*- coding: cp932-dos -*-
//
// Project LegacyPrintDlg
// Copyright (C) 2025 neige68
// https://github.com/neige68/LegacyPrintDlg
// This program is released under license GPLv3
//
// Note: Resource Script
//
// Compiler: VC14.3
// Library:  OWL7
//

// このファイルを ResEdit, Visual Studio IDE で編集してはいけない。
// Visual Studio IDE で編集するのは resource.rc, resource.h とする。

#include <owl/version.h>
#include <owl/except.rh>

#include "version.h"

#include "res.rh"

//------------------------------------------------------------

#include <owl/except.rc>

//------------------------------------------------------------

// manifest
1 RT_MANIFEST "LegacyPrintDlg.manifest"

//
// Version Information resources
//
1 VERSIONINFO
    FILEVERSION     VER_FILEVERSION
    PRODUCTVERSION  VER_PRODUCTVERSION
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
#ifdef NDEBUG    
    FILEFLAGSMASK   0
    FILEFLAGS       0
#else
    FILEFLAGSMASK VS_FF_DEBUG | VS_FF_SPECIALBUILD
    FILEFLAGS VS_FFI_FILEFLAGSMASK
#endif
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041103A4" // 日本語(0x411), シフトJIS(CP932)(0x3a4)
        {
            VALUE "CompanyName", VER_COMPANYNAME // "\000"
            VALUE "FileDescription", VER_FILEDESCRIPTION // "\000"
            VALUE "FileVersion", VER_FILEVERSION_STR // "\000"
            VALUE "InternalName", "LegacyPrintDlg" // "\000"
            VALUE "LegalCopyright", VER_LEGALCOPYRIGHT // "\000"
            VALUE "OriginalFilename", "LegacyPrintDlg.EXE" // "\000"
            VALUE "ProductName", VER_PRODUCTNAME // "\000"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR // "\000"
#ifdef NDEBUG
#else
            VALUE "SpecialBuild", "Debug Version" // "\000"
#endif
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0411, 0x03a4
    }
}

//
// Icon resources
//
IDI_APP            ICON           "LegacyPrintDlg.ico"

//
// String Table resources
//
STRINGTABLE
{
    IDS_APPNAME                   VER_PRODUCTNAME " - " VER_FILEDESCRIPTION
}

// end of <res.rc>
